#newWorldForm{
    display: block;
}
.worldDiv{
    border: solid black;
    border-width: 2px;
}
#Overworld{
    background-color: #5e9d34;
}
#Nether{
    background-color: #ac2020;
}
#End{
    background-color: #5e2987;
}
.worldHead{
}
.coordText{
}
.headx{
    float: right;
    width: 2.5%;
    height: 2.5%;
    margin-top: -40px;
}
.coordx{
    float: right;
    width: 2.5%;
    height: 2.5%;
    margin-top: -35px;
}
#canvas{
    width: 300px;
    height: 300px;
    border: solid black;
    border-width: 2px;
}
